nav{
 padding: 10px 2%;
 justify-content: space-between;
 box-shadow: 0 0 10px rgba(0,0,0,0.2);
 background: #fff; 
 position: sticky;
 top: 0;
 z-index: 100;
}

.nav-left .menu-icon{
     width: 22px;
     margin-right: 25px;
}
.nav-left .logo{
    width: 130px;
}
.nav-middle .search-box{
    margin-right: 15px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
   
}

.nav-middle .search-box input{
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
}

.nav-midle .search-box img{
    width: 20px;
    cursor: pointer;
}

.nav-right img{
    width: 25px;
    margin-right: 25px;
    
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}

@media (max-width:900px) {
     .menu-icon{
        display: none;

     }
     .nav-right img{
        display: none;

     }
     .nav-right .user-icon{
        display: block;
        width: 30px;
     }
     .logo {
        width: 90px;
     } 

     .nav-middle .search-box input{
        width: 100px;
     }
}